<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <main class="main">
        <section class="section new-task">
            <h1>New Task</h1>
            <form action="" method="POST" class="form">
                <input type="text" placeholder="Title">
                <textarea cols="30" rows="10" placeholder="Message"></textarea>
                <input type="date">
                <button class="button" type="submit">Add New Task</button>
            </form>
            <a href="#" class="back">Back</a>
        </section>
    </main>
</body>

</html>