<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <main class="main">
        <section class="section my-tasks">
            <h1>My Tasks</h1>
            <a href="/add-task" class="button">New Task</a>

            <div class="my-tasks__lists">
                <div class="my-tasks__box">
                    <h3>Finish UI designs for mobile app</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium iure minus voluptate
                        hic dolorum vitae optio distinctio facilis cumque!</p>
                    <h4>Due on 12/15/2023</h4>
                </div>
                <div class="my-tasks__box">
                    <h3>Prepare presentation for design team meeting</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium iure minus voluptate
                        hic dolorum vitae optio distinctio facilis cumque!</p>
                    <h4>Due on 12/20/2023</h4>
                </div>
                <div class="my-tasks__box">
                    <h3>Create interactive prototype for new feature</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium iure minus voluptate
                        hic dolorum vitae optio distinctio facilis cumque!</p>
                    <h4>Due on 12/25/2023</h4>
                </div>
                <div class="my-tasks__box">
                    <h3>Write detailed design specs for development team</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium iure minus voluptate
                        hic dolorum vitae optio distinctio facilis cumque!</p>
                    <h4>Due on 12/30/2023</h4>
                </div>
            </div>
        </section>
    </main>
</body>

</html>